<!-- ko with: home -->
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="text-center text-muted" id="aspnetTitle">Currency Converter</h1>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="spaSectionTitle">


            <!--CURRENCY: INPUT-->
            <div class="input-group m-3">
                <div class="flex m-4">
                    <p>From</p>
                </div>
                <span class="input-group-text">$</span>
                <span class="input-group-text">0.00</span>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>


            <!--CURRENCY: OUTPUT-->
            <div class="input-group m-3">
                <div class="flex m-4">
                    <p>To</p>
                </div>
                <span class="input-group-text">$</span>
                <span class="input-group-text">0.00</span>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <!--SUM: currency-->
            <div class="flex m-3">
                <p>Total <span>=</span>
                </p>
            </div>


        </section>

    </div>
</main>

<!-- /ko -->
